{% extends 'base.html.twig' %}

{% block title %}{{ connectezvous }}{% endblock %}

{% block content %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% else %}
    <div class="mx-auto max-w-3xl mt-20 pb-80">
        <h1 class="h3 mb-3 font-weight-normal">{{ connectezvous }}</h1>
        <div class="flex mb-3">
            <div class="w-96 mr-10">
                <label for="inputEmail" class="mb-2">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>
            <div class="w-96">
                <label for="inputPassword" class="mb-2">{{ motdepasse }}</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
        </div>

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="btn btn-primary bg-indigo-600 hover:bg-indigo-700" type="submit">
            Sign in
        </button>
    </div>
    {% endif %}
</form>
{% endblock %}
