{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="w-9/12 mx-auto mt-10">
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>

        {{ form_start(registrationForm) }}
            <div>
                <div class="form-group mb-2">
                    <label class="form-label">
                        <span>Username</span>
                        {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control'}}) }}
                    </label>
                </div>
                <div class="form-group mb-2">
                    <label class="form-label">
                        <span>Email</span>
                        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                    </label>
                </div>
                <div class="form-group mb-2">
                    <label class="form-label">
                        <span>Password</span>
                        {{ form_widget(registrationForm.plainPassword, {
                            label: 'Password',
                            'attr': {'class': 'form-control'}
                        }) }}
                    </label>
                </div>
                <div class="form-group mb-2">
                    <label class="form-label">
                        {{ form_widget(registrationForm.agreeTerms) }}
                        <span>Agree to terms</span>
                    </label>
                </div>

                <button type="submit" class="btn btn-primary bg-indigo-600 hover:bg-indigo-700">Register</button>
            </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
