{% extends 'base.html.twig' %}

{% block title %}Admin : Liste des posts{% endblock %}

{% block content %}
    <div class="container min-h-screen">
        <div class="row">
            <div class="col-12 mt-5 w-9/12 mx-auto">
                <div class="mb-10">
                    <h1 class="h2">Liste des posts</h1>
                    <small>(Vous êtes connecté en tant qu'administrateur)</small>
                </div>
                {% if posts %}
                    {% for post in posts %}
                        <a href="/post/{{ post.id }}" class="d-block border-2 rounded-md p-3 mb-3">
                            <div class="d-flex w-100 justify-content-between items-end border-b-2 pb-2 mb-3">
                                <div class="flex flex-row items-center text-xl pb-0 mb-0">
                                    <div class="flex flex-row items-center mr-4">
                                        <svg class="w-6 h-6 h-5 w-5 mt-1 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
                                        </svg>{{ post.likes }}
                                    </div>
                                    <div class="txt-lg">{{ post.title }}</div>

                                </div>
                                <small>{{ post.createAt|date('d/m/Y h:m') }}</small>
                            </div>
                            <div class="mb-1">
                                {% if post.content|length %}
                                    <p>{{ (post.content|length) > 800 ? (post.content|slice(0, 801)|split(' ')|slice(0, - 1)|join(' ')) ~ ' …' : post.content }}</p>
                                {% else %}
                                    <p class="meta">** Pas de description **</p>
                                {% endif %}
                            </div>
                            {# <small>{{ post.author }}</small> #}
                        </a>
                    {% endfor %}
                {% else %}
                    <p>Aucun post publié</p>
                {% endif %}
                <div class="mb-10">
                    <p class="mb-2">Vous pouvez accéder à la liste des utilisateurs en cliquant sur le bouton ci-dessous</p>
                    <a href="{{ path('app_admin_users') }}" class="btn btn-primary">Liste des utilisateurs</a>
                </div>
                <div class="mb-10">
                    <p class="mb-2">Vous pouvez accéder à la liste des posts en cliquant sur le bouton ci-dessous</p>
                    <a href="{{ path('app_admin_posts') }}" class="btn btn-primary">Liste des posts</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

