{% extends 'base.html.twig' %}

{% block title %}
  {{ post.title }}
{% endblock %}

{% block content %}
  <div class="container min-h-screen mt-4">
    <div class="row">
        <div class="col-10 mx-auto">
        <div class="d-flex align-items-center justify-between mb-4">
          <a href="/" class="btn text-white bg-indigo-600 hover:bg-indigo-700">{{ retour }}</a>

          {% if app.user and post.author.id == app.user.id or is_granted('ROLE_ADMIN') %}
          <div class="flex">
            <a href="/post/edit/{{ post.id }}" class="btn text-white bg-indigo-600 hover:bg-indigo-700 mr-2">Modifier</a>
            <a href="/post/delete/{{ post.id }}" class="btn text-white bg-indigo-600 hover:bg-indigo-700">Supprimer</a>
          </div>
          {% endif %}
        </div>
        <h1 class="h2">{{ post.title }}</h1>
        <div class="d-flex">
          <div class="mt-1 flex flex-col sm:mt-0 sm:flex-row sm:flex-wrap sm:space-x-6">
            <div class="mt-2 flex items-center text-sm text-gray-500">
              <svg class="w-6 h-6 mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>{{ user.username }}
            </div>

            <div class="mt-2 flex items-center text-sm text-gray-500">
              <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z" clip-rule="evenodd" />
              </svg>{{ post.createAt|date('d/m/Y h:m') }}
            </div>

            <div class="mt-2 flex items-center text-sm text-gray-500">
              <svg class="w-6 h-6 mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6z" />
              </svg>{{ post.currentState }}
            </div>

            <div class="mt-2 flex items-center text-sm text-gray-500">
              <svg class="w-6 h-6 mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
              </svg>{{ post.likes }}
            </div>
          </div>
        </div>
        <div class="mt-3 mb-3">
          {% if post.image is not empty %}
            <img class="mb-3" src="{{ post.image }}" alt="post image" />
          {% endif %}
            <p>{{ post.content }}</p>
        </div>
        <div>
            <div class="mb-5">
                {{ form_start(comment_form) }}
                {{ form_row(comment_form._token) }}
                <div class="rounded-xl max-w-2xl mb-3 mt-5">
                    <label for="comment-content" class="mb-2 text-2xl">Écrire un commentaire</label>
                    {{ form_widget(comment_form.content, {'attr': {'class': 'form-control border-blue-700', 'row': '20', 'id' : 'comment-content'}}) }}
                </div>
                {{ form_row(comment_form.submit) }}
                {{ form_end(comment_form) }}
            </div>

            {% if comments %}
                {% for comment in comments %}
                    <div class="rounded-xl max-w-2xl bg-slate-100 p-3 mb-2">
                        <small>{{ comment.author.username }}</small><br>
                        <p>{{ comment.content }}</p>
                    </div>
                {% endfor %}
                {% else %}
                    <p class="text-left">Aucun commentaire 😴</p>
            {% endif %}
        </div>

      </div>
    </div>
  </div>
{% endblock %}
