{% extends 'base.html.twig' %}

{% block title %}
  Index
{% endblock %}

{% block head %}
  {{ parent() }}
{% endblock %}

{% block content %}
  <div class="container">
    {% import 'utils/flash.html.twig' as utils %}
    {{ utils.flash(app.flashes) }}
    <div class="row">
      <div class="col-10 mt-5 mx-auto">
        <div class="flex items-center justify-content-between pb-4">
          <h1 class="h2">🗞 GobelinsGazette</h1>
          {# {{ app.request.getLocale() }} #}
          <div class="d-flex align-items-center">
            <a href="/post/new" class="btn btn-primary bg-indigo-600">Nouveau</a>
          </div>
        </div>
        <div class="">
          {% for post in posts %}
            <a href="/post/{{ post.id }}" class="d-block border-2 rounded-md p-3 mb-3">
              <div class="d-flex w-100 justify-content-between items-end border-b-2 pb-2 mb-3">
                <div class="text-xl pb-0 mb-0">
                  <small>{{ post.likes }}</small>
                  {{ post.title }}
                </div>
                {# <small>{{ post.createdAt|date('d/m/Y') }}</small> #}
                <small>15/09/2022</small>
              </div>
              <p class="mb-1">
                {% if post.content|length %}
                  <p>{{ (post.content|length) > 800 ? (post.content|slice(0, 801)|split(' ')|slice(0, - 1)|join(' ')) ~ ' …' : post.content }}</p>
                {% else %}
                  <p class="meta">** Pas de description **</p>
                {% endif %}
              </p>
              <small>{{ post.author }}</small>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
