{% extends 'base.html.twig' %}

{% block title %}
  Index
{% endblock %}

{% block head %}
  {{ parent() }}
{% endblock %}

{% block content %}
  <div class="container">
    {% import 'utils/flash.html.twig' as utils %}
    {{ utils.flash(app.flashes) }}
    <div class="row">
      <div class="col-10 mt-5 mx-auto">
        <div class="flex items-center justify-content-between pb-4">
          <h1 class="h2">🗞 GobelinsGazette</h1>
          {# {{ app.request.getLocale() }} #}
          <div class="d-flex align-items-center">
            <a href="/post/new" class="btn btn-primary bg-indigo-600">Nouveau</a>
          </div>
        </div>
        <div class="">
          {% for post in posts %}
            <a href="/post/{{ post.id }}" class="d-block border-2 rounded-md p-3 mb-3">
              <div class="d-flex w-100 justify-content-between items-end border-b-2 pb-2 mb-3">
                <div class="flex flex-row items-center text-xl pb-0 mb-0">
                  <div class="flex flex-row items-center mr-4">
                    <svg class="h-5 w-5 mt-1 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
                    </svg>{{ post.likes }}
                  </div>
                  <div class="txt-lg">{{ post.title }}</div>
                </div>
                {# <small>{{ post.createdAt|date('d/m/Y') }}</small> #}
                <small>15/09/2022</small>
              </div>
              <p class="mb-1">
                {% if post.content|length %}
                  <p>{{ (post.content|length) > 800 ? (post.content|slice(0, 801)|split(' ')|slice(0, - 1)|join(' ')) ~ ' …' : post.content }}</p>
                {% else %}
                  <p class="meta">** Pas de description **</p>
                {% endif %}
              </p>
              <small>{{ post.author }}</small>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
